mixin topnav(which)
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          i.icon.icon-reorder
          | 菜单
        a.brand(href="/index.html") 觅珠人 Pearl-finder
        .nav-collapse.collapse
          ul.nav
            - for item in locals.topnav
              if item.href.indexOf(which) >= 0
                li.active: a(href="#{item.href}") #{item.title}
              else
                li: a(href="#{item.href}") #{item.title}
