mixin related_posts(tags)
  section
    h1 相关文章
    ul.posts
      - var posts = _.chain(contents.posts).filter(function(item) {
      -   return _.intersection(tags, item.metadata.tags)
      - }).sortBy(function(item) {
      -   // sort them by date
      -   return -item.date
      - }).value()
      each post in posts
        li: a(href="#{post.url}") #{post.title}
