mixin related_posts(post)
  section
    - var posts;
    - if (post.metadata.tags) {
    -   posts = _.chain(contents.posts).filter(function(item) {
    -     return item.title != post.title && _.intersection(post.metadata.tags, item.metadata.tags).length > 0
    -   }).sortBy(function(item) {
    -     return -item.date
    -   }).value()
    - } else {
    -   posts = []
    - }
    if posts.length
      h4 相关文章
      ul.posts
        each post in posts
          li: a(href="#{post.url}") #{post.title}
