mixin series_posts(series)
  section
    - var posts;
    - if (series) {
    -   posts = _.chain(contents.posts).filter(function(item) {
    -     return series == item.metadata.series
    -   }).sortBy(function(item) {
    -     return item.date
    -   }).value()
    - } else {
    -   posts = []
    - }
    if posts.length
      h4 #{series}
      ul.posts
        each post in posts
          li: a(href="#{post.url}") #{post.title}
