---
template: slide2.jade
title: case study
date: 2014-04-16 20:50
theme: default
---

section
    h2 Day 3: Python web application
    ul
        li.fragment Socket
        li.fragment TCP client/server
        li.fragment Web service
        li.fragment Email and other services

section
    h2 Build server side application
    ul
        li.fragment Web application architecture
        li.fragment django
        li.fragment Scale up and scale out

section
    h2 Case study
    ul
        li.fragment zhihu.com analysis
        li.fragment static site generator




