---
template: slide2.jade
title: networking
date: 2014-04-16 20:50
theme: default
---

section
    h1 Python Concurrency
    br
    h3 Tyr Chen
    br
    div Stay hungry, stay foolish 
    div 2014-04-16

section
    h2 Agenda
    ul
        li.fragment Socket
        li.fragment Echo Server
        li.fragment Chat Server
        li.fragment Case Study

section
    h3 Socket

section
    h3 Echo server

section
    h3 Chat Server

section
    h3 Socket Server

section
    h3 Case study
    p Write a file server - when client send a filename, send back the file content to client, so client can "download" it.
