---
template: slide2.jade
title: Advanced Python
date: 2014-04-16 20:50
theme: default
---

section
	h1 Advanced Python
	br
	h3 Tyr Chen
	br
	div Stay hungry, stay foolish 
	div 2014-04-16

section
	h2 Agenda
	ul
		li.fragment Who am I
		li.fragment Python advanced
		li.fragment Concurrency
		li.fragment Networking
		li.fragment Build server side application
		li.fragment Case study

section
	h2 Who am I
	img(src="/assets/files/weixin.jpg")

section
	h2 Python advanced
	ul
		li.fragment Data structure
		li.fragment Functional Programming
		li.fragment Metaprogramming

section
	h2 Concurrency
	ul
		li.fragment Threading
		li.fragment Coroutine

section
	h2 Networking
	ul
		li.fragment Socket
		li.fragment TCP client/server
		li.fragment Web service
		li.fragment Email and other services

section
	h2 Build server side application
	ul
		li.fragment Web application architecture
		li.fragment django
		li.fragment Scale up and scale out

section
	h2 Case study
	ul
		li.fragment zhihu.com analysis
		li.fragment static site generator




