---
template: slide2.jade
title: Advanced Python
date: 2014-04-16 20:50
theme: default
---

section
	h1 Advanced Python
	br
	h3 Tyr Chen
	br
	div Stay hungry, stay foolish 
	div 2014-04-16

section
	h2 Agenda
	ul
		li.fragment Who am I
		li.fragment Python advanced
		li.fragment Concurrency
		li.fragment Networking
		li.fragment Build server side application
		li.fragment Case study

section
	h2 Who am I
	img(src="/assets/files/weixin.jpg")

section
	h2 Day 1: Python advanced
	ul
		li.fragment 
			a(href="python-day-1-advanced-python-1.html", target="_blank") Advanced Python 1
		li.fragment
			a(href="python-day-1-advanced-python-2.html", target="_blank") Advanced Python 2

section
	h2 Day 2: Python networking
	ul
		li.fragment
			a(href="python-day-2-concurrency.html", target="_blank") Concurrency
		li.fragment
			a(href="python-day-2-networking.html", target="_blank") Networking
		li.fragment
			a(href="python-day-2-build-web-app.html", target="_blank") Build web application

section
	h2 Day 3: Python web application
	ul
		li.fragment
			a(href="python-day-3-more-on-django.html", target="_blank") More on Django
		li.fragment
			a(href="python-day-3-case-study.html", target="_blank") Case Study