extends layouts/layout

block prepend title
  | #{page.title} -

block content
  .main
    .container
      .row
        .span12
           h2: span A picture is worth a thousand words

      .row
        include layouts/mixins/photo_widgets
        - var photos = _.chain(contents.assets.img.photos).map(function(item) {
        -   return item;
        - }).sortBy(function(item) {
        -   return -(new Date(item.stat.ctime)).getTime();
        - }).first(page.metadata.items_per_page).groupBy(function(item, i){
        -   return i%3;
        - }).toArray(photos).value();
        each photo_list in photos
          +thumbnails(photo_list)


//- block append footer
//-   script(src="/assets/js/jquery.exif.js")
//-   script(language="javascript")
//-     $(function() {
//-       $('.thumbnail').each(function(idx, item) {
//-         var $item = $(item);
//-         var $photo = $('img.photo', $item);
//-         var $title = $('.title', $item);
//-         var $exif = $('.exif', $item);
//-         console.log($photo.exif("DateTimeOriginal"));
//-         $title.text($photo.exif("DateTimeOriginal"));
//-         $exif.text($photo.exif("Make") + " " + $photo.exif("Model"));

//-       })
//-     })

block append footer
  link(rel="stylesheet", href="/assets/fancybox/jquery.fancybox-1.3.4.css", media="screen")
  script(src="/assets/fancybox/jquery.fancybox-1.3.4.pack.js")
  script
    $(document).ready(function() {
      /* Fancybox SetUp */
      $("a.js-fancybox").fancybox({
        'transitionIn'  :   'elastic',
        'transitionOut' :   'elastic',
        'speedIn'       :   600,
        'speedOut'      :   200,
        'overlayShow'   :   true
      });
    });