extends layouts/layout

block prepend title
  | #{ page.title } -

block prepend header
  - page.metadata.which = "posts";

block content
  - var dt = moment(page.date).fromNow();
  .main
    .container
      .row
        .span12
          h2
            span
              | #{page.title}
              if page.metadata.subtitle
                span.small  - #{page.metadata.subtitle}
      .row
        .span9
          article.row
            .span2
              .toc(data-spy="affix", data-offset-top="185", style="width:140px;")


            .span7
              - moment.lang('zh-cn')
              - var dt = moment(page.date).fromNow()
              p #{dt} 
              != page.html
          hr
        aside.span3
          .well
            include layouts/includes/asides/series_posts
            include layouts/includes/asides/related_posts
            +series_posts(page)
            +related_posts(page)
            include layouts/includes/asides/recent_posts


block js
  script
    window.onload = function () {
      // Looks for an element with the class "toc" and appends an empty list
      $(".toc").append("<ol id='toc'></ul>");
      var TOC = $("ol#toc");
      
      $.each($('article h2'), function(k, v) {
        var heading = $(v); // get the heading
        var headingText = $(v).text(); // get the value of the heading
        // make a URI-friendly id for the heading
        var headingID = encodeURIComponent(headingText);
        $(v).attr("id", headingID); //assign the new id
        // change the heading text to include a number for prettier headings
        heading.text((k+1) +". " + headingText);
        // create a link in the list for the heading
        TOC.append("<li><a href=\"#" + headingID +"\">" + headingText + "</a></li>" );
      });
      // Put a title on the table of contents
      $(".toc").prepend("<h2>目录</h2>");
      //$('body').data('spy', 'scroll').data('target', '#toc');
    }



