footer
  .container
    .row
      .span12
        center
          p Copyright © 2013 - Tyr Chen - 欢迎转载，转载请携带 <a href="#{page.url}" title="#{page.title}">原文网址</a> 及作者新浪微博地址
            a(href="http://weibo.com/tchen82", target="_blank")  @陈天_Tyr 
            span
              include baidu_tongji

  script(src="/assets/js/jquery-1.8.0.min.js")
  script(src="/assets/js/bootstrap.min.js")

