---
template: slide2.jade
title: Build Dev Env with Docker
date: 2014-01-20 20:50
theme: default
---

section
	h1 Build Dev Env with Docker
	br
	h3 Tyr Chen
	br
	div Stay hungry, stay foolish 
	div 2014-03-08

section
	h2 Agenda
	ul
		li.fragment What is docker
		li.fragment Docker in 15 minutes
		li.fragment Dockerfile
		li.fragment Build a dev env with docker
		li.fragment Conclusion and summary
		li.fragment What can I do with docker?

section
	section
		h2 What is docker?
	section
		p an open-source engine that automates the deployment of any application as a lightweight, portable, self-sufficient container that will run virtually anywhere
	section
		h2 WTF?
	section
		img(src="/assets/files/slides/docker/why_docker.jpg")

section
	section
		h2 Docker in 15 minutes
	section
		div.well To try docker in a clean environment, I recommend you to use 
			a(href="https://www.digitalocean.com/?refcode=b0e273c7d740") Digital Ocean 
			| ($5 per month only)
	section
		h2 Install docker
		p.fragment
			a(href="https://www.docker.io/gettingstarted/#h_installation") Docker official installation guide
		p.fragment Ubuntu 13.10 as following:
		div.fragment
			pre.main
				code.
					sudo apt-get update
					sudo apt-get install linux-image-extra-`uname -r`
					sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 36A1D7869245C8950F966E92D8576A8BA88D21E9
					sudo sh -c "echo deb http://get.docker.io/ubuntu docker main > /etc/apt/sources.list.d/docker.list"
					sudo apt-get update
					sudo apt-get install lxc-docker
	section
		h2 Try out docker
		div.fragment
			code docker run ubuntu echo hello world!
			pre.main
				code.
					$ docker run ubuntu echo hello world!
					Unable to find image 'ubuntu' locally
					Pulling repository ubuntu
					9cd978db300e: Download complete
					eb601b8965b8: Download complete
					5ac751e8d623: Download complete
					9cc9ea5ea540: Download complete
					9f676bd305a4: Download complete
					511136ea3c5a: Download complete
					6170bb7b0ad1: Download complete
					1c7f181e78b9: Download complete
					7a4f87241845: Download complete
					f323cf34fd77: Download complete
					321f7f4200f4: Download complete
					hello world!
		div.fragment
			p Note: You need to <code>sudo gpasswd -a $USER docker</code> to use docker without sudo

	section
		h2 Wait...what the fuck is this?
		img(src="/assets/files/slides/docker/docker_pull.jpg")
		div.fragment docker is fast, and smart.
	section
		h2 AUFS
		img(src="/assets/files/slides/docker/aufs.jpg")
	section
		h2 Basic commands
		ul
			li.fragment <code>docker run</code>: run a command in a new container
			li.fragment <code>docker images</code>: show a list of local images
			li.fragment <code>docker search</code>: search images in the registry
			li.fragment <code>docker commit</code>: create a new image based on container
			li.fragment <code>docker pull/push</code>: pull or push a image from/to a registry
			li.fragment <code>docker ps</code>: list running and stopped containers
			li.fragment <code>docker rm/rmi</code>: remove container or image
			li.fragment <code>docker log/inspect</code>: get information from the container
	section
		h2 Let's play with docker
	section
		div Disclaimer: the following live operations are highly interactive (subject to change during the demo), so please sharpen your docker environment and follow me!
	section
		h2 First of all, get a image
		div.fragment
			p
				code docker search tchen
			pre.main
				code.
					$ docker search tchen
					NAME                                       DESCRIPTION                                     STARS     OFFICIAL   TRUSTED
					codingforce/gitlab-ci-runner-testkitchen   Runner for gitlab-ci with fully installed ...   1                    [OK]
					tchen/gitlab                                                                               0
					tchen/base-server                                                                          0
					jdharrington/ubuntu                        The official Docker Ubuntu image with buil...   0
	section
		h2 Let's pull base-server
		div.fragment
			p
				code docker pull tchen/base-server
			pre.main
				code.
					$ docker pull tchen/base-server
					Pulling repository tchen/base-server
					8552614f23cd: Download complete
					e8f376b3c2c0: Download complete
					511136ea3c5a: Download complete
					6170bb7b0ad1: Download complete
					9cd978db300e: Download complete
					83da74670f8f: Download complete
					b4d20668744e: Download complete
					c9c0e86c5700: Download complete
					9630cea817e9: Download complete
					0ec2263b38de: Download complete
					83bc4d21347b: Download complete
					9ed2225fb91e: Download complete
					e705eec2dcb5: Download complete
					ad27f97b0a0a: Download complete
					4b1939764c80: Download complete
					5c52754a873d: Download complete
					e39f1b7212c8: Download complete
	section
		h2 Show what we have
		div.fragment
			p
				code docker images
			pre.main
				code.
					$ docker images
					REPOSITORY               TAG                 IMAGE ID            CREATED             VIRTUAL SIZE
					tchen/base-server        0.2                 e8f376b3c2c0        40 hours ago        1.049 GB
					tchen/base-server        0.1                 8552614f23cd        41 hours ago        821.3 MB
					tchen/base-server        latest              8552614f23cd        41 hours ago        821.3 MB
					phusion/passenger-full   0.9.8               e39f1b7212c8        3 days ago          638.7 MB
					phusion/passenger-full   latest              e39f1b7212c8        3 days ago          638.7 MB
					phusion/passenger-full   0.9.7               5c4c2876be5b        3 days ago          638.7 MB
					phusion/passenger-full   0.9.6               4e0923ee4966        3 weeks ago         639 MB
					ubuntu                   13.10               9f676bd305a4        3 weeks ago         182.1 MB
					ubuntu                   saucy               9f676bd305a4        3 weeks ago         182.1 MB
					ubuntu                   raring              eb601b8965b8        3 weeks ago         170.2 MB
					ubuntu                   13.04               eb601b8965b8        3 weeks ago         170.2 MB
					ubuntu                   12.10               5ac751e8d623        3 weeks ago         161.4 MB
					ubuntu                   quantal             5ac751e8d623        3 weeks ago         161.4 MB
					ubuntu                   10.04               9cc9ea5ea540        3 weeks ago         183 MB
					ubuntu                   lucid               9cc9ea5ea540        3 weeks ago         183 MB
					ubuntu                   12.04               9cd978db300e        3 weeks ago         204.7 MB
					ubuntu                   latest              9cd978db300e        3 weeks ago         204.7 MB
					ubuntu                   precise             9cd978db300e        3 weeks ago         204.7 MB
					phusion/passenger-full   0.9.3               2819727a3f88        3 weeks ago         619.4 MB
	section
		h2 Let's do something interesting
		p.fragment Task: make a basic ipython environment
		div.fragment
			p
				code docker run -i -t tchen/base-server bash
			pre.main
				code.
					$ docker run -i -t tchen/base-server bash
					root@d06327b20658:/# ipython
					bash: ipython: command not found
					root@d06327b20658:/# pip install ipython
					bash: pip: command not found
					root@d06327b20658:/# apt-get install -y python-pip
					root@d06327b20658:/# apt-get install -y ipython
					root@d06327b20658:/# ipython
					Python 2.7.3 (default, Sep 26 2013, 20:03:06)
					...

					In [1]: exit
		div.well.fragment Mission accomplished!
	section
		h2 Now share this to your coworkers
		div.fragment
			p step 1: quit and get container id
			p
				code docker ps -l
			pre.main
				code.
					root@d06327b20658:/# exit
					exit
					tchen@docker:~$ docker ps -l
					CONTAINER ID        IMAGE                   COMMAND             CREATED             STATUS              PORTS               NAMES
					d06327b20658        tchen/base-server:0.1   bash                6 minutes ago       Exit 0                                  cranky_ptolemy
	section
		h2 Now share (Cont.)
		div.fragment
			p step 2: Commit and push
			p
				code docker commit d063 tchen/base-server:0.3
			p
				code docker push tchen/base-server
			pre.main
				code.
					$ docker commit d063 tchen/base-server:0.3
					b9e6eefe596f9bdbc933926e2098165e83a78e49370d865867a591a314113da5
					tchen@docker:~$ docker push tchen/base-server
					The push refers to a repository [tchen/base-server] (len: 4)
					Sending image list
					Pushing repository tchen/base-server (4 tags)
					511136ea3c5a: Image already pushed, skipping
					Image 6170bb7b0ad1 already pushed, skipping
					Image 9cd978db300e already pushed, skipping
					Image 83da74670f8f already pushed, skipping
					Image b4d20668744e already pushed, skipping
					Image c9c0e86c5700 already pushed, skipping
					Image 9630cea817e9 already pushed, skipping
					Image 0ec2263b38de already pushed, skipping
					Image 83bc4d21347b already pushed, skipping
					Image 9ed2225fb91e already pushed, skipping
					Image e705eec2dcb5 already pushed, skipping
					Image ad27f97b0a0a already pushed, skipping
					Image 4b1939764c80 already pushed, skipping
					Image 5c52754a873d already pushed, skipping
					Image e39f1b7212c8 already pushed, skipping
					Image 8552614f23cd already pushed, skipping
					Pushing tag for rev [8552614f23cd] on {https://registry-1.docker.io/v1/repositories/tchen/base-server/tags/0.1}
					Pushing tag for rev [8552614f23cd] on {https://registry-1.docker.io/v1/repositories/tchen/base-server/tags/latest}
					Image e8f376b3c2c0 already pushed, skipping
					Pushing tag for rev [e8f376b3c2c0] on {https://registry-1.docker.io/v1/repositories/tchen/base-server/tags/0.2}
					b9e6eefe596f: Image successfully pushed
					Pushing tag for rev [b9e6eefe596f] on {https://registry-1.docker.io/v1/repositories/tchen/base-server/tags/0.3}
	section
		h2 Now it's your 小伙伴's turn
		div.fragment
			p step 1: Get the image
			p
				code docker pull tchen/base-server
			pre.main
				code.
					~ vagrant up
					vagrant@ubuntu-12:~$ docker pull tchen/base-server
					Pulling repository tchen/base-server
					e8f376b3c2c0: Download complete
					b9e6eefe596f: Download complete
					8552614f23cd: Download complete
					511136ea3c5a: Download complete
					6170bb7b0ad1: Download complete
					9cd978db300e: Download complete
					83da74670f8f: Download complete
					b4d20668744e: Download complete
					c9c0e86c5700: Download complete
					9630cea817e9: Download complete
					0ec2263b38de: Download complete
					83bc4d21347b: Download complete
					9ed2225fb91e: Download complete
					e705eec2dcb5: Download complete
					ad27f97b0a0a: Download complete
					4b1939764c80: Download complete
					5c52754a873d: Download complete
					e39f1b7212c8: Download complete
	section
		div.fragment
			h2 Now it's your 小伙伴's turn (Cont.)
			p step 2: Run the container
			p
				code docker run -i -t tchen/base-server:0.3 bash
			pre.main
				code.
					vagrant@ubuntu-12:~$ docker run -i -t tchen/base-server:0.3 bash
					root@f57d5d94933c:/# ipython
					Python 2.7.3 (default, Sep 26 2013, 20:03:06)
					...

					In [1]: exit
	section
		h2 How do you feel?
	section
		div.well.fragment it's fucking like git!!!!!!
		br
		div.well.fragment That's why it is called <b>"git for deployment"</b>
	section
		h2 Retrospection
		img(src="/assets/files/slides/docker/functions.jpg")
	section
		h2 Now you have basic ideas...
		img(src="/assets/files/slides/docker/bowdown.jpg")
		div.well.fragment Hats off and bow down to docker's creators!

section
	section 
		h2 Dockerfile
	section
		div.fragment What you talked previous is good, BUT
		br
		br
		div.well.fragment I'm a programmer, can you give me an automated approach?
	section
		h2 Dockerfile
		img(src="/assets/files/slides/docker/dockerfile.jpg")
	section
		h2 docker build
		div
			pre
				code.
					docker build -t name path-to-docker-file
	section
		div Let's try it! (DEMO)

section
	h2 Ready with some new challenges? 
	div Let's talk about building a development environment!

section
	section
		h2 Build a dev env with docker
	section
		h2 Problem
		p I have an application that consists of:
		ul
			li my application (django) + dependencies
			li my database (mysql)
			li my cache server (redis)
		p We have 24 developers working on 3 different releases
		div.fragment.well How should I build an efficient dev env?
	section
		h2 Previous solution
		ul
			li.fragment each dev has their own separated dev env
			li.fragment all dev shares several dev env
	section
		h2 The docker way
		ul
			li build an image for your django app + dependencies
			li build an image for mysql + dependencies
			li build an image for redis + dependencies
			li Each dev starts their own containers (and linked together)
	section
		h2 Let's do it! (DEMO)

//- /assets/files/slides/docker/

section
	section
		h2 What can I do with docker?
	section
		h3 flexible application deployment
	section
		h3 shared deveopment environment setup
	section
		h3 throwaway test setup
	section
		h3 parallel continuous integration
	section
		h3 and a lot...use your imagination, luke!

section
	section
		h2 What have you learned?
	section
		h2 How to operate with docker? no!
	section
		div
			p.fragment To operate docker is easy, just practice. But don't be an op.
			br
			div.well.fragment Think wise. Treat docker as python.


section
	h2 Thanks, Q&A
