---
template: slide2.jade
title: BAdvanced Python - Day III
date: 2014-01-20 20:50
theme: default
---

section
	h1 Advanced Python
	br
	h3 Tyr Chen
	br
	div Stay hungry, stay foolish 
	div 2014-03-23

section
	h2 Agenda
	ul
		li.fragment Who am I