---
template: slide2.jade
title: Advanced Python - Day I
date: 2014-01-20 20:50
theme: default
---

section
	h1 Advanced Python (Day 1)
	br
	h3 Tyr Chen
	br
	div Stay hungry, stay foolish 
	div 2014-03-23

section
	h2 Agenda
	ul
		li.fragment Who am I
		li.fragment Python advanced
		li.fragment Concurrency

section
	p Who am I

section
	section
		h3 Python advanced
	section
		li.fragment Data structure
	section
		
		li.fragment Functional programming
		li.fragment Closure, high ordered functions and decorator
		li.fragment Iterator and generator
		li.fragment Itertools library
		li.fragment Metaprogramming



// --
	Python advanced (Day 1)
	Data structure advanced
	Functional programming
	Closure, high ordered functions and decorator
	Iterator and generator
	Itertools library
	Metaprogramming
	Concurrency (Day 1)
	Threading
	Coroutine (gevent)
	Networking (Day 2)
	Socket
	TCP client / server
	Web service
	Email service
	Other services
	Build server side application (Day 2 & Day 3)
	Web application architecture
	Web server (nginx)
	Application server (gunicorn / django)
	Database server (mysql / mongodb)
	Cache server (redis / memcached)
	MQ server (RabbitMQ & Celery)
	Other servers and services
	Scale up and scale out
	Case studies (Day 3)
	how to build zhihu.com
	build a static site generator